<header id="header" class="navbar headroom" role="banner">
    <div class="logo"><a href="{{ page.find("/").url }}"><img class="logo-symbol" src="{{ site.header.logo }}"></img> <img class="logo-text" src="{{ site.header.logo_text }}"></img><span class="sr-only">{{ site.header.title }}</span></a></div>
    <nav>
        <ul class="nav-collapse">
            <li>
                <a href="/product" class="small">Products</a>
            </li>
            <li>
                <a href="/technology" class="small">Technology</a>
            </li>
            <li>
                <a href="/about" class="small">About</a>
            </li>
            <li class="end">
                <a href="#" class="small has-border convospot_click" ontap="showConvospot()" onclick="showConvospot()">Request a demo</a>
                <!--
                <a href="http://app.reflen.io/login" class="small ">Login</a>
                <span class="sep-txt">or</span>
                <a href="http://app.reflen.io/signup" class="small rev">Signup</a>
                -->
            </li>
            <!-- <a href="#menu"><i class="zmdi zmdi-menu"></i><span class="sr-only">{{ site.header.menu_name }}</span></a> -->
        </ul>
    </nav>
</header>